
__pycache__

adivinhacao(01).py
cliente(03).py
conta(03).py
datas(03).py
forca(02).py
jogos(02).py
modelo(04).py
palavra(02).txt
teste(03).py
testes-python-projeto-inicial/
pythonio-projeto-inicial/
listas e tuplas/
